.footerBtn{
    display: flex;
    margin-left: 40%;
}

footer{
    margin-top: 20%;
}

@media screen and (min-width: 1024px) {
    .footerBtn{
        display: none;
    }
    footer > p{
        margin-bottom: 7%;
        margin-right: 3%;
    }
}